In [1]:
import os
from dotenv import load_dotenv

from pyspark.sql import functions as F, SparkSession

In [2]:
os.environ['PYSPARK_SUBMIT_ARGS'] = "--packages=com.amazonaws:aws-java-sdk-bundle:1.11.271,org.apache.hadoop:hadoop-aws:3.1.2 pyspark-shell"

spark = SparkSession.builder.master("local").appName("visie-luchthaven").getOrCreate()

load_dotenv()

ACCESS_KEY = os.environ.get("ACCESS_KEY")
SECRET_KEY = os.environ.get("SECRET_KEY")
ENDPOINT = os.environ.get("ENDPOINT")

spark.conf.set("spark.sql.repl.eagerEval.enabled", True)
spark.conf.set("fs.s3a.access.key", ACCESS_KEY)
spark.conf.set("fs.s3a.secret.key", SECRET_KEY)
spark.conf.set("fs.s3a.endpoint", ENDPOINT)
spark.conf.set("spark.sql.caseSensitive","true")

21/12/10 13:02:14 WARN Utils: Your hostname, pop-os resolves to a loopback address: 127.0.1.1; using 192.168.0.4 instead (on interface enx00e04f7105c2)
21/12/10 13:02:14 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/lenny/.local/share/miniconda3/envs/data-mining/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release

:: loading settings :: url = jar:file:/home/lenny/.local/share/miniconda3/envs/data-mining/lib/python3.9/site-packages/pyspark/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/lenny/.ivy2/cache
The jars for the packages stored in: /home/lenny/.ivy2/jars
com.amazonaws#aws-java-sdk-bundle added as a dependency
org.apache.hadoop#hadoop-aws added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-e23de0d2-1b84-4210-9c57-d722d4348afb;1.0
	confs: [default]
	found com.amazonaws#aws-java-sdk-bundle;1.11.271 in central
	found io.netty#netty-codec-http;4.1.17.Final in central
	found io.netty#netty-codec;4.1.17.Final in central
	found io.netty#netty-transport;4.1.17.Final in central
	found io.netty#netty-buffer;4.1.17.Final in central
	found io.netty#netty-common;4.1.17.Final in central
	found io.netty#netty-resolver;4.1.17.Final in central
	found io.netty#netty-handler;4.1.17.Final in central
	found org.apache.hadoop#hadoop-aws;3.1.2 in central
:: resolution report :: resolve 431ms :: artifacts dl 7ms
	:: modules in use:
	com.amazonaws#aws-java-sdk-bundle;1.11.271 from central in [default]
	io.netty#netty-buffer;4.1.17.Final from central in [default]
	io.netty#netty-codec;4.1.17.Final from central in [default]
	io.netty#netty-codec-http;4.1.17.Final from central in [default]
	io.netty#netty-common;4.1.17.Final from central in [default]
	io.netty#netty-handler;4.1.17.Final from central in [default]
	io.netty#netty-resolver;4.1.17.Final from central in [default]
	io.netty#netty-transport;4.1.17.Final from central in [default]
	org.apache.hadoop#hadoop-aws;3.1.2 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   9   |   0   |   0   |   0   ||   9   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-e23de0d2-1b84-4210-9c57-d722d4348afb
	confs: [default]
	0 artifacts copied, 9 already retrieved (0kB/10ms)
21/12/10 13:02:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
BUCKET = "s3a://ap-project-big-data-2021/BD-01/cleansed/"

# Aankomst

In [4]:
aankomst_df = spark.read.parquet(BUCKET + "aankomst.parquet")
aankomst_df

21/12/10 13:02:18 WARN MetricsConfig: Cannot locate configuration: tried hadoop-metrics2-s3a-file-system.properties,hadoop-metrics2.properties

+--------+-------------+--------+----+----+---------+------+-------------------+
|Vluchtid|Vliegtuigcode|Terminal|Gate|Baan|Bezetting|Vracht|       Aankomsttijd|
+--------+-------------+--------+----+----+---------+------+-------------------+
|  935998|       VFR735|       A|  A1|   1|       45|  null|2014-01-01 03:53:00|
|  936001|       VHV303|       A|  A2|   1|       62|  null|2014-01-01 04:15:00|
|  936009|       VKL301|       C|  C1|   1|       58|  null|2014-01-01 04:38:00|
|  936012|       VTK505|       B|  B5|   1|       67|  null|2014-01-01 04:43:00|
|  936013|       VKL859|       C|  C2|   1|       71|  null|2014-01-01 04:54:00|
|  936018|       VA3599|       A|  A6|   1|       61|  null|2014-01-01 05:35:00|
|  936020|     VCAO9406|       F|null|   1|     null|    33|2014-01-01 05:54:00|
|  936021|       VKL447|       C|  C1|   1|       82|  null|2014-01-01 05:58:00|
|  936022|      VKL2761|       E|  E2|   1|       70|  null|2014-01-01 05:59:00|
|  936023|     VFDX9706|       F|null|   1|     null|    36|2014-01-01 05:59:00|
|  936024|       VHV573|       A|  A2|   1|       63|  null|2014-01-01 06:01:00|
|  936025|       VIB667|       C|  C7|   1|       66|  null|2014-01-01 06:09:00|
|  936026|     VSQC8052|       F|null|   1|     null|    48|2014-01-01 06:11:00|
|  936028|       VFR455|       A|  A1|   1|       57|  null|2014-01-01 06:16:00|
|  936029|        VKL85|       C|  C2|   1|       76|  null|2014-01-01 06:17:00|
|  936030|     VCAL7070|       F|null|   1|     null|    57|2014-01-01 06:18:00|
|  936031|     VMPH6537|       F|null|   1|     null|    45|2014-01-01 06:25:00|
|  936032|      VKL5715|       E|  E1|   1|       72|  null|2014-01-01 06:28:00|
|  936034|      VIR3141|       D|  D2|   1|       75|  null|2014-01-01 06:31:00|
|  936038|       VBA941|       C|  C3|   1|       61|  null|2014-01-01 06:37:00|
+--------+-------------+--------+----+----+---------+------+-------------------+
only showing top 20 rows

# Airport

In [5]:
airport_df = spark.read.parquet(BUCKET + "airport.parquet")
airport_df

+-------------------+--------------+-----------+----+----+---------+---------+----+---+---+----------+
|            Airport|          City|    Country|IATA|ICAO|      Lat|      Lon| Alt| TZ|DST|        Tz|
+-------------------+--------------+-----------+----+----+---------+---------+----+---+---+----------+
|     Bamyan Airport|        Bamyan|Afghanistan| BIN|OABN|34.816666|67.816666|2550|4.5|  N|Asia/Kabul|
|      Camp Bastion |  Camp Bastion|Afghanistan|null|OAZI|31.865557|64.195274|2808|4.5|  N|Asia/Kabul|
|Chaghcharan Airport|   Chaghcharan|Afghanistan| CCN|OACC| 34.52667| 65.27167|7383|4.5|  U|Asia/Kabul|
|   Faizabad Airport|      Faizabad|Afghanistan| FBD|OAFZ|  37.1211|  70.5181|3872|4.5|  U|Asia/Kabul|
|              Herat|         Herat|Afghanistan| HEA|OAHR| 34.21002|  62.2283|3206|4.5|  U|Asia/Kabul|
|          Jalalabad|     Jalalabad|Afghanistan| JAA|OAJL| 34.39984| 70.49863|1814|4.5|  U|Asia/Kabul|
|         Bagram AFB|         Kabul|Afghanistan| BPM|OAIX|  34.5646|  69.1554|4895|4.5|  U|Asia/Kabul|
|         Kabul Intl|         Kabul|Afghanistan| KBL|OAKB|34.565853|69.212326|5877|4.5|  U|Asia/Kabul|
|           Kandahar|      Kandahar|Afghanistan| KDH|OAKN|31.505756|65.847824|3337|4.5|  U|Asia/Kabul|
|        FOB Salerno|         Khost|Afghanistan| KHT|OAKS|  33.3334|   69.952|3756|4.5|  N|Asia/Kabul|
|             Konduz|        Kunduz|Afghanistan| UND|OAUZ| 36.66511|68.910835|1457|4.5|  U|Asia/Kabul|
|       Bost Airport|   Lashkar Gah|Afghanistan| BST|OABT| 31.55889| 64.36417|2464|4.5|  U|Asia/Kabul|
|            Maimana|       Maimama|Afghanistan| MMZ|OAMN| 35.93079| 64.76092|2743|4.5|  U|Asia/Kabul|
|     Mazar I Sharif|Mazar-i-sharif|Afghanistan| MZR|OAMS|36.706913| 67.20968|1284|4.5|  U|Asia/Kabul|
|          FOB Shank|         Shank|Afghanistan|null|OASH|33.921368| 69.07813|6614|4.5|  N|Asia/Kabul|
|        FOB Sharana|        Sharan|Afghanistan|null|  \N|33.127773| 68.83698|7400|4.5|  N|Asia/Kabul|
|            Sharona|       Sharona|Afghanistan| AZ3|OASA| 33.12772| 68.83698|7400|4.5|  N|Asia/Kabul|
|         Sheberghan|    Sheberghan|Afghanistan|null|OASG|36.750782| 65.91316|1053|4.5|  U|Asia/Kabul|
|           Shindand|      Shindand|Afghanistan|null|OASD| 33.39133|62.260975|3773|4.5|  U|Asia/Kabul|
| Tarin Kowt Airport|    Tarin Kowt|Afghanistan| TII|OATN|32.605278| 65.86417|3500|4.5|  U|Asia/Kabul|
+-------------------+--------------+-----------+----+----+---------+---------+----+---+---+----------+
only showing top 20 rows

# Banen

In [6]:
banen_df = spark.read.parquet(BUCKET + "banen.parquet")
banen_df

+----------+-------+--------------------+------+
|Baannummer|   Code|                Naam|Lengte|
+----------+-------+--------------------+------+
|         1|  09-27| Marloes Boumansbaan|  3200|
|         2|18R-36L|Joost van den Bem...|  3600|
|         3|18L-36R|Frank de Ruijterbaan|  4000|
|         4|18C-36C|Stépan Breedveldbaan|  3500|
|         5|  06-24|  Hans Dellebekebaan|  3500|
|         6|  04-22|    Sjoerd Eversbaan|  2200|
+----------+-------+--------------------+------+

# Customers

In [7]:
customers_df = spark.read.parquet(BUCKET + "customers.parquet")
customers_df

+-------+---------+----------+-----+
|     id|operation|facilities|shops|
+-------+---------+----------+-----+
|1317307|      7.2|       8.5| null|
|1317327|      7.4|       8.0| null|
|1317352|      7.0|       6.9|  6.9|
|1317395|      6.5|       7.3|  7.0|
|1317406|      6.9|       6.9|  6.3|
|1317488|      6.4|       5.2|  6.8|
|1317506|      4.7|       5.9|  7.1|
|1317508|      6.7|       8.5|  6.2|
|1317514|      6.1|       3.6|  7.2|
|1317559|      6.0|       7.6|  6.6|
|1317587|      6.3|       7.2|  5.6|
|1317629|      6.9|       4.1|  6.2|
|1317633|      6.4|       5.2|  4.6|
|1317646|      6.3|       6.4|  5.5|
|1317655|      6.6|       5.8|  6.2|
|1317712|      5.4|       8.0|  6.2|
|1317809|      7.7|       6.2| null|
|1317811|      6.9|       6.0| null|
|1317817|      6.9|       9.5| null|
|1317902|      7.6|       4.5|  5.9|
+-------+---------+----------+-----+
only showing top 20 rows

# Maatschappijen

In [8]:
maatschappijen_df = spark.read.parquet(BUCKET + "maatschappijen.parquet")
maatschappijen_df

+--------------------+----+----+
|                Name|IATA|ICAO|
+--------------------+----+----+
|      Private flight|   -| N/A|
|             Unknown|   -| N/A|
|         ELK Airways|  --| ELK|
|Tom\\'s & co airl...|  &T| T&O|
|      Wilderness Air|  ;;|  \N|
|    Tyrolean Airways|  \N| TYR|
|        Whitaker Air|  ^^|  \N|
|            U.S. Air|  -+| --+|
|    Bobb Air Freight|   1|  \N|
|            Blue Air|  0B| JOR|
|      Darwin Airline|  0D| DWT|
|  Copenhagen Express|  0X| CX0|
|         TUIfly (X3)|  11|  \N|
|            12 North|  12| N12|
|Eastern Atlantic ...|  13| EAV|
|Abacus International|  1B|null|
|            OneChina|  1C| 1CH|
|CB Airways UK ( I...|  1F| CIF|
|             NetJets|  1I| EJA|
|              Novair|  1I| NVR|
+--------------------+----+----+
only showing top 20 rows

# Planning

In [9]:
planning_df = spark.read.parquet(BUCKET + "planning.parquet")
planning_df

+--------+-----------+--------+------------+--------+--------+
|Vluchtnr|Airlinecode|Destcode|Planterminal|Plangate|Plantijd|
+--------+-----------+--------+------------+--------+--------+
|  9W2888|         9W|     DEL|           D|      D2| 2:10 PM|
|  9W2889|         9W|     DEL|           D|      D2| 3:25 PM|
|   A3598|         A3|     ATH|           A|      A6| 5:10 AM|
|   A3599|         A3|     ATH|           A|      A6| 5:55 AM|
|   A3600|         A3|     ATH|           A|      A6| 2:45 PM|
|   A3601|         A3|     ATH|           A|      A6| 3:30 PM|
|   A3620|         A3|     ATH|           A|      A6| 8:05 AM|
|   A3621|         A3|     ATH|           A|      A6| 8:50 AM|
|   A3622|         A3|     ATH|           A|      A6| 8:50 PM|
|   A3623|         A3|     ATH|           A|      A6| 9:35 PM|
|  AA1260|         AA|     LAS|           D|      D6| 9:20 AM|
|  AA1261|         AA|     LAS|           D|      D6|10:35 AM|
|  AC1020|         AC|     YYZ|           D|      D6|11:20 PM|
|  AC1021|         AC|     YYZ|           D|      D6| 2:50 AM|
|   AF396|         AF|     CDG|           C|      C6|11:15 AM|
|   AF397|         AF|     CDG|           C|      C6|12:00 PM|
|   AF398|         AF|     CDG|           C|      C6| 8:50 PM|
|   AF399|         AF|     CDG|           C|      C6| 9:35 PM|
|   AF478|         AF|     SXB|           C|      C6|12:45 PM|
|   AF479|         AF|     SXB|           C|      C6| 1:30 PM|
+--------+-----------+--------+------------+--------+--------+
only showing top 20 rows

# Vertrek

In [10]:
vertrek_df = spark.read.parquet(BUCKET + "vertrek.parquet")
vertrek_df

+--------+-------------+--------+----+----+---------+------+-------------------+
|Vluchtid|Vliegtuigcode|Terminal|Gate|Baan|Bezetting|Vracht|        Vertrektijd|
+--------+-------------+--------+----+----+---------+------+-------------------+
|  935992|       VTK297|       B|  B5|   2|       69|  null|2014-01-01 02:46:00|
|  935993|      VDL5829|       D|  D5|   2|       78|  null|2014-01-01 02:57:00|
|  935994|      VSU1831|       D|  D3|   2|       85|  null|2014-01-01 03:07:00|
|  935995|      VEZY741|       C|  C4|   2|       54|  null|2014-01-01 03:33:00|
|  935996|       VKL499|       C|  C2|   2|       71|  null|2014-01-01 03:48:00|
|  935997|      VGA4943|       D|  D2|   2|       69|  null|2014-01-01 03:50:00|
|  935999|       VKL315|       C|  C1|   2|       71|  null|2014-01-01 04:04:00|
|  936000|       VHV381|       A|  A4|   2|       49|  null|2014-01-01 04:05:00|
|  936002|       VBT361|       B|  B4|   2|       86|  null|2014-01-01 04:17:00|
|  936003|       VDY439|       C|  C7|   2|       84|  null|2014-01-01 04:19:00|
|  936004|       VEI109|       C|  C6|   2|       75|  null|2014-01-01 04:26:00|
|  936005|       VAZ577|       B|  B3|   2|       55|  null|2014-01-01 04:28:00|
|  936006|      VKL3123|       E|  E1|   2|       63|  null|2014-01-01 04:34:00|
|  936007|       VFR735|       A|  A1|   2|       52|  null|2014-01-01 04:34:00|
|  936008|      VUA2363|       E|  E4|   2|       78|  null|2014-01-01 04:36:00|
|  936010|      VEZY461|       C|  C5|   2|       66|  null|2014-01-01 04:39:00|
|  936011|      VSQ2993|       D|  D4|   2|       65|  null|2014-01-01 04:40:00|
|  936014|       VLH291|       C|  C3|   2|       80|  null|2014-01-01 05:03:00|
|  936015|       VHV303|       A|  A2|   2|       62|  null|2014-01-01 05:04:00|
|  936016|       VKL301|       C|  C1|   2|       62|  null|2014-01-01 05:21:00|
+--------+-------------+--------+----+----+---------+------+-------------------+
only showing top 20 rows

# Vliegtuigtype

In [11]:
vliegtuigtype_df = spark.read.parquet(BUCKET + "vliegtuig_type.parquet")
vliegtuigtype_df

+----+----+-----------------+--------------------+----+---+----------+------+
|IATA|ICAO|             Merk|                Type|Wake|Cat|Capaciteit|Vracht|
+----+----+-----------------+--------------------+----+---+----------+------+
| 100|F100|           Fokker|          Fokker 100|   M|Pax|       100|     2|
| 141|B461|British Aerospace|     BAe 146-100 Pax|   M|Pax|       105|     5|
| 142|B462|British Aerospace|     BAe 146-200 Pax|   M|Pax|       115|     5|
| 143|B463|British Aerospace|     BAe 146-300 Pax|   M|Pax|       130|     5|
| 146|null|British Aerospace|BAe 146 all pax m...|   M|Pax|      null|  null|
| 310|A310|           Airbus|Airbus A310 all p...|   H|Pax|       250|     5|
| 312|A310|           Airbus| Airbus A310-200 pax|   H|Pax|       250|     5|
| 313|A310|           Airbus| Airbus A310-300 pax|   H|Pax|       250|     5|
| 318|A318|           Airbus|         Airbus A318|   M|Pax|       105|     8|
| 319|A319|           Airbus|         Airbus A319|   M|Pax|       125|     8|
| 320|A320|           Airbus| Airbus A320-100/200|   M|Pax|       150|     8|
| 321|A321|           Airbus| Airbus A321-100/200|   M|Pax|       185|     8|
| 330|A330|           Airbus|Airbus A330 all m...|   H|Pax|       250|     8|
| 332|A332|           Airbus|     Airbus A330-200|   H|Pax|       246|     8|
| 333|A333|           Airbus|     Airbus A330-300|   H|Pax|       300|     8|
| 340|A340|           Airbus|Airbus A340 all m...|   H|Pax|       310|     8|
| 342|A342|           Airbus|     Airbus A340-200|   H|Pax|       310|     8|
| 343|A343|           Airbus|     Airbus A340-300|   H|Pax|       340|     8|
| 345|A345|           Airbus|     Airbus A340-500|   H|Pax|       340|     8|
| 346|A346|           Airbus|     Airbus A340-600|   H|Pax|       340|     8|
+----+----+-----------------+--------------------+----+---+----------+------+
only showing top 20 rows

# Vliegtuig

In [12]:
vliegtuig_df = spark.read.parquet(BUCKET + "vliegtuig.parquet")
vliegtuig_df

+-----------+-------------+-------------+--------+
|Airlinecode|Vliegtuigcode|Vliegtuigtype|Bouwjaar|
+-----------+-------------+-------------+--------+
|         TK|       VTK297|          321|    1970|
|         DL|      VDL5829|          320|    2007|
|         SU|      VSU1831|          321|    2012|
|        EZY|      VEZY741|          738|    1978|
|         KL|       VKL499|          738|    1982|
|         GA|      VGA4943|          752|    1982|
|         FR|       VFR735|          320|    1984|
|         KL|       VKL315|          73G|    1971|
|         HV|       VHV381|          772|    2003|
|         HV|       VHV303|          73G|    2009|
|         BT|       VBT361|          F70|    2013|
|         DY|       VDY439|          738|    1987|
|         EI|       VEI109|          319|    1983|
|         AZ|       VAZ577|          73G|    1998|
|         KL|      VKL3123|          772|    1992|
|         UA|      VUA2363|          764|    1975|
|         KL|       VKL301|          738|    2009|
|        EZY|      VEZY461|          738|    1988|
|         SQ|      VSQ2993|          359|    1992|
|         TK|       VTK505|          321|    1984|
+-----------+-------------+-------------+--------+
only showing top 20 rows

# Vlucht

In [13]:
vlucht_df = spark.read.parquet(BUCKET + "vlucht.parquet")
vlucht_df

+--------+--------+-----------+--------+-------------+----------+
|Vluchtid|Vluchtnr|Airlinecode|Destcode|Vliegtuigcode|     Datum|
+--------+--------+-----------+--------+-------------+----------+
|  935992|   TK297|         TK|     ESB|       VTK297|2014-01-01|
|  935993|  DL5829|         DL|     DTW|      VDL5829|2014-01-01|
|  935994|  SU1831|         SU|     SVO|      VSU1831|2014-01-01|
|  935995|  EZY741|        EZY|     ACE|      VEZY741|2014-01-01|
|  935996|   KL500|         KL|     VIE|       VKL499|2014-01-01|
|  935997|  GA4943|         GA|     CGK|      VGA4943|2014-01-01|
|  935998|   FR734|         FR|     AYT|       VFR735|2014-01-01|
|  935999|   KL316|         KL|     IST|       VKL315|2014-01-01|
|  936000|   HV382|         HV|     FAO|       VHV381|2014-01-01|
|  936001|   HV303|         HV|     ATH|       VHV303|2014-01-01|
|  936002|   BT361|         BT|     VNO|       VBT361|2014-01-01|
|  936003|   DY439|         DY|     HEL|       VDY439|2014-01-01|
|  936004|   EI109|         EI|     DUB|       VEI109|2014-01-01|
|  936005|   AZ577|         AZ|     FCO|       VAZ577|2014-01-01|
|  936006|  KL3124|         KL|     LAX|      VKL3123|2014-01-01|
|  936007|   FR735|         FR|     AYT|       VFR735|2014-01-01|
|  936008|  UA2363|         UA|     IAD|      VUA2363|2014-01-01|
|  936009|   KL301|         KL|     LIS|       VKL301|2014-01-01|
|  936010|  EZY461|        EZY|     GLA|      VEZY461|2014-01-01|
|  936011|  SQ2993|         SQ|     SIN|      VSQ2993|2014-01-01|
+--------+--------+-----------+--------+-------------+----------+
only showing top 20 rows

# Weather

In [14]:
weather_df = spark.read.parquet(BUCKET + "weather.parquet")
weather_df

21/12/10 13:03:03 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+----------+-----+-----+---+---+----+---+----+---+----+---+----+---+---+---+----+-----+---+---+---+---+---+---+----+-----+-----+---+-----+---+---+----+---+----+---+---+---+---+---+---+---+
|      date|DDVEC|FHVEC| FG|FHX|FHXH|FHN|FHNH|FXX|FXXH| TG|  TN|TNH| TX|TXH|T10N|T10NH| SQ| SP|  Q| DR| RH|RHX|RHXH|   PG|   PX|PXH|   PN|PNH|VVN|VVNH|VVX|VVXH| NG| UG| UX|UXH| UN|UNH|EV2|
+----------+-----+-----+---+---+----+---+----+---+----+---+----+---+---+---+----+-----+---+---+---+---+---+---+----+-----+-----+---+-----+---+---+----+---+----+---+---+---+---+---+---+---+
|2014-01-01|   24|   35| 38| 60|   1|  0|  23|110|   1|-16| -63| 24|  7| 14| -91|   24| 42| 54|318|  0| -1| -1|   2|10026|10094| 24| 9978|  3| 57|  23| 75|   2|  4| 78| 93| 23| 67| 12|  3|
|2014-01-02|  212|   22| 31| 50|  18| 10|   1| 80|  21|-11| -64|  1| 12| 19| -86|    6|  0|  0|117|  8|  1|  1|  17|10140|10172| 24|10101|  1| 37|  23| 61|   5|  8| 91| 94|  9| 89| 14|  1|
|2014-01-03|   33|   17| 25| 60|   1|  0|  18|100|   2|-39| -65| 21|-10| 14| -89|   24| 62| 79|388|  0|  0|  0|   1|10220|10238| 20|10176|  1| 50|  21| 75|  14|  4| 84| 92| 20| 69| 13|  4|
|2014-01-04|  199|   30| 31| 50|  14| 20|   1| 80|  12|-29| -54|  8| -6| 24| -57|    6| 10| 13|179|  0| -1| -1|   1|10159|10222|  1|10099| 24|  2|  22| 57|  12|  8| 90| 99| 21| 83| 13|  2|
|2014-01-05|  194|   28| 28| 40|  14| 20|   2| 60|   9| -7| -30| 22| 19| 13| -40|   24| 33| 42|253|  8|  9|  8|   2|10053|10094|  1|10030| 24|  2|   3| 63|  14|  7| 91| 97|  1| 82| 13|  3|
|2014-01-06|  196|   24| 25| 40|  19| 20|   2| 60|  16|-30| -52|  3| -5| 13| -75|    6| 65| 82|455|  9|  1|  1|  23|10040|10059| 23|10027|  3| 24|  23| 58|  14|  5| 86| 93|  3| 76| 12|  4|
|2014-01-07|  160|   16| 20| 40|  12| 10|  16| 60|  12|-49|-100| 24|-21| 14|-123|   24| 56| 70|408|  0| -1| -1|   1|10110|10175| 24|10061|  1|  4|  23| 56|  13|  3| 89| 99| 23| 76| 13|  4|
|2014-01-08|   43|   35| 36| 60|  20| 10|   1|110|  20|-50|-107|  2|-21| 24|-131|    6| 29| 36|216|  0|  0|  0|   1|10216|10232| 21|10178|  1| 18|   1| 68|  24|  6| 87| 93|  4| 77| 21|  2|
|2014-01-09|   32|   73| 73| 80|   8| 70|   1|150|  14|-22| -49|  3| -5| 24| -54|    6|  0|  0|166| 58| 10|  3|  16|10196|10228|  1|10158| 24| 23|  15| 75|   4|  8| 84| 90| 20| 78| 13|  2|
|2014-01-10|   51|   35| 35| 60|   1| 10|  16|120|   1| -5| -10| 21|  2| 12| -15|   24|  0|  0|149| 49| 11|  3|  14|10171|10194| 24|10153|  5| 31|   9| 70|   1|  8| 87| 94| 17| 82| 11|  2|
|2014-01-11|   32|   25| 25| 40|   5| 20|   1| 70|   5| -4|  -9| 24|  0| 12| -12|   24|  0|  0|125|  0| -1| -1|   3|10193|10197| 10|10190| 24| 15|   3| 67|  15|  8| 87| 94|  3| 83| 12|  1|
|2014-01-12|   94|   35| 38| 60|  19| 10|   1|100|  23|-17| -42| 24| -7| 10| -48|   24| 19| 23|222|  0| -1| -1|   2|10135|10189|  1|10070| 24| 27|   8| 61|  18|  7| 83| 94|  6| 74| 20|  2|
|2014-01-13|  103|   47| 48| 60|   1| 30|  23| 90|   1|-30| -50|  9|-12| 24| -58|   12|  0|  0|223|  0| -1| -1|  16|10049|10068|  1|10038| 15| 24|  18| 59|   5|  6| 78| 92| 24| 68| 14|  2|
|2014-01-14|  114|   22| 25| 30|   1| 20|   3| 50|   1|  6| -30| 23| 48| 13| -67|   24| 49| 60|393|  0|  0|  0|   1|10087|10144| 24|10050|  1| 14|   1| 59|  13|  4| 89| 96|  6| 76| 13|  4|
|2014-01-15|  145|   22| 24| 40|  23| 10|   3| 70|  23| 13|   1|  1| 18| 24|  -3|    6|  0|  0|114|  0|  0|  0|   1|10210|10244| 21|10149|  1|  8|  17| 56|   9|  8| 92| 99| 17| 86| 11|  1|
|2014-01-16|  141|   53| 54| 70|  11| 30|   2|120|  15| 10|  -1| 20| 19|  1|   1|   24|  0|  0|150| 52| 77| 21|  19|10141|10236|  1|10062| 24| 12|  20| 60|  15|  8| 90| 96| 20| 81| 16|  2|
|2014-01-17|  253|   21| 28| 50|  11| 10|   4|100|  13| 39|   8|  1| 67| 15|   6|    6| 18| 22|183| 24| 14|  7|   9|10138|10219| 24|10061|  1|  1|   7| 63|  10|  7| 93| 99|  3| 86| 14|  2|
|2014-01-18|  234|   31| 32| 40|  11| 20|   6| 90|  14| 40|   2|  8| 53| 19| -15|   12|  0|  0|110| 23| 12|  5|  23|10240|10249| 10|10222|  1|  2|   9| 60|   1|  7| 97| 99|  9| 91|  1|  1|
|2014-01-19|  337|    7| 16| 30|   1| 10|   3| 50|   1| 40|  19| 22| 58| 11|  21|   24|  0|  0|133|  7|  3|  2|  13|10226|10243|  2|10199| 24|  2|   3| 59|  13|  8| 96| 99|  3| 91| 11|  2|
|2014-01-20|   87|   39| 39| 60|  13| 20|   1| 90|  12| 27|  16|  5| 55| 13|   9|   24| 47| 56|417|  0| -1| -1|   1|10156|10192|  1|10129| 14|  8|   1| 67|  13|  6| 90| 99|  1| 71| 13|  5|
+----------+-----+-----+---+---+----+---+----+---+----+---+----+---+---+---+----+-----+---+---+---+---+---+---+----+-----+-----+---+-----+---+---+----+---+----+---+---+---+---+---+---+---+
only showing top 20 rows